{% do view.registerAssetBundle("craft\\redactor\\assets\\field\\FieldAsset") %}
{% do view.registerAssetBundle("craft\\redactor\\assets\\redactor\\RedactorAsset") %}

{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Speedbump plugin for Craft CMS 3.x
 *
 * Alerts users when navigating to any un-whitelisted links.
 *
 * @link      https://staplegun.us
 * @copyright Copyright (c) 2019 STAPLEGUN
 */
#}


{% import '_includes/forms' as forms %}

<div class="eventbrite-field-container">
{{ forms.textareaField({
	label: "Speedbump Text"|t,
	id: 'speedbumpText',
	class: 'redactor',
	name: 'speedbumpText',
	value: settings.speedbumpText is defined ? settings.speedbumpText : '',
	errors: settings.getErrors('speedbumpText')
}) }}
{{ forms.textareaField({
	label: "Whitelist"|t,
	id: 'whitelist',
	name: 'whitelist',
	instructions: 'Your site domain is automatically whitelisted. Enter additional domains (http://google.com) one per line.',
	rows: 10,
	value: settings.whitelist,
	errors: settings.getErrors('whitelist')
}) }}
{{ forms.textField({
	label: "Proceed Button Text"|t,
	id: 'proceedButtonText',
	name: 'proceedButtonText',
	value: settings.proceedButtonText,
	errors: settings.getErrors('proceedButtonText')
}) }}
{{ forms.textField({
	label: "Remain Button Text"|t,
	id: 'remainButtonText',
	name: 'remainButtonText',
	value: settings.remainButtonText,
	errors: settings.getErrors('remainButtonText')
}) }}

</div>
{% js %}
$(document).ready(function() {
	$('.redactor').redactor({
		buttons: ["format","bold","italic","lists","link","file","horizontalrule"]
	});
});
{% endjs %}
