{% includeCssResource "lib/redactor/redactor.css" %}
{% includeJsResource "lib/redactor/redactor.js" %}
{% import '_includes/forms' as forms %}

<div class="eventbrite-field-container">
{{ forms.lightswitchField({
	label: "Only Use Class"|t,
	id: 'useClassOnly',
	name: 'useClassOnly',
	instructions: 'If enabled, the only way to trigger the speedbump is by adding the "require-speedbump" class to a link.',
	on: (settings.useClassOnly is defined) ? settings.useClassOnly : "",
	errors: settings.getErrors('useClassOnly')
}) }}
{{ forms.textareaField({
	label: "Whitelist"|t,
	id: 'whitelist',
	name: 'whitelist',
	instructions: 'Your site domain is automatically whitelisted. Enter additional domains (http://google.com) one per line.',
	rows: 10,
	value: settings.whitelist,
	errors: settings.getErrors('whitelist')
}) }}
{{ forms.textareaField({
	label: "Speedbump Text"|t,
	id: 'speedbumpText',
	class: 'redactor',
	name: 'speedbumpText',
	value: settings.speedbumpText is defined ? settings.speedbumpText : '',
	errors: settings.getErrors('speedbumpText')
}) }}
{{ forms.textField({
	label: "Proceed Button Text"|t,
	id: 'proceedButtonText',
	name: 'proceedButtonText',
	value: settings.proceedButtonText,
	errors: settings.getErrors('proceedButtonText')
}) }}
{{ forms.textField({
	label: "Remain Button Text"|t,
	id: 'remainButtonText',
	name: 'remainButtonText',
	value: settings.remainButtonText,
	errors: settings.getErrors('remainButtonText')
}) }}

</div>
{% set speedbumpJs %}
$(document).ready(function() {
	$('.redactor').redactor({
		buttons: ["format","bold","italic","lists","link","file","horizontalrule"]
	});
});
{% endset %}
{% includeJs speedbumpJs %}
